/* Boilerplate to rewrite default settings*/
:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --clr-white: #f9faf8;
  --clr-gray: #e5e7eb;
  --clr-dark: #1f2937;
  --clr-blue: #3882f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

li {
  list-style-type: none;
}

/* Styling */

.section {
  min-height: 25rem;
  padding: 2rem 16rem;
}

.section-gray {
  background-color: var(--clr-gray);
}

.section-dark {
  background-color: var(--clr-dark);
  padding-bottom: 4rem;
}

.section-text-center {
  text-align: center;
}

.section-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-sign-up {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  display: inline-block;
  font-weight: 700;
  text-align: center;
}

.btn-sign-up-border {
  border: 3px solid var(--clr-white);
}

/* Header */
header {
  background-color: var(--clr-dark);
  padding: 2rem 16rem;
}

.logo {
  color: var(--clr-white);
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-links {
  display: flex;
  gap: 1rem;
}

/* First section */

.hero {
  max-width: 550px;
}

.hero-main {
  font-size: 3rem;
  color: var(--clr-white);
  font-weight: 900;
}

.hero > *:not(:last-child) {
  margin-bottom: 1rem;
}

.hero-secondary,
.link {
  font-size: 1.125rem;
  color: var(--clr-gray);
}

.intro-main {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.img-main {
  max-width: 40rem;
  height: auto;
}

/*Second section*/

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}

.product {
  border: 3px solid var(--clr-blue);
  width: 250px;
  border-radius: 1.5rem;
  flex-shrink: 0;
}

.product > figcaption {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.img-card {
  width: 100%;
  height: 20rem;
  object-fit: fill;
  border-radius: 1.3rem 1.3rem 0 0;
}

h2 {
  font-size: 1.75rem;
}

/* Third section */
.quote {
  display: inline-block;
  position: relative;
  max-width: 1096px;
  font-size: 2.25rem;
  color: var(--clr-dark);
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 700;
  right: 0;
  bottom: -2rem;
}

/* Fourth section*/
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  background-color: var(--clr-blue);
  color: var(--clr-gray);
  padding: 4rem 8rem;
  font-size: 1.125rem;
  border-radius: 1rem;
}

.card-main :first-child {
  color: var(--clr-white);
  font-size: 1.5rem;
}

/* Footer */
footer {
  padding: 3rem 0;
  text-align: center;
  color: var(--clr-gray);
  background-color: var(--clr-dark);
}
